{% extends "base.html" %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Смена пароля</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.current_password.label(class="form-label") }}
            {{ form.current_password(class="form-control" + (" is-invalid" if form.current_password.errors else "")) }}
            {% for error in form.current_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control" + (" is-invalid" if form.new_password.errors else "")) }}
            {% for error in form.new_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.confirm_new_password.label(class="form-label") }}
            {{ form.confirm_new_password(class="form-control" + (" is-invalid" if form.confirm_new_password.errors else
            "")) }}
            {% for error in form.confirm_new_password.errors %}
            <div class="invalid-feedback">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" name="submit_password" class="btn btn-primary">Сменить пароль</button>
    </form>
</div>
{% endblock %}