{% extends "base.html" %}
{% block title %}Просмотр карточки{% endblock %}
{% block content %}
<h1 class="mt-4">{{ card.word }}</h1>
<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>Перевод:</strong> {{ card.translate }}</p>
        <p class="card-text"><strong>Строчки песни:</strong> {{ card.line }}</p>
        <p class="card-text"><strong>Перевод строчек:</strong> {{ card.translate_line }}</p>
        <p class="card-text"><strong>Альбом:</strong> {{ card.album.album_name }}</p>
    </div>
</div>
{% endblock %}