{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="mt-4">Login</h1>
<form method="POST" class="mt-4">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-check">
        {{ form.remember(class="form-check-input") }} {{ form.remember.label }}
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}