{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mt-1">Регистрация</h2>
        <form method="POST" enctype="multipart/form-data" class="mb-4">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control" + (" is-invalid" if form.first_name.errors else "")) }}
                {% for error in form.first_name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control" + (" is-invalid" if form.last_name.errors else "")) }}
                {% for error in form.last_name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.middle_name.label(class="form-label") }}
                {{ form.middle_name(class="form-control" + (" is-invalid" if form.middle_name.errors else "")) }}
                {% for error in form.middle_name.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.phone_number.label(class="form-label") }}
                {{ form.phone_number(class="form-control" + (" is-invalid" if form.phone_number.errors else "")) }}
                {% for error in form.phone_number.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
                {% for error in form.email.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
                {% for error in form.password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control" + (" is-invalid" if form.confirm_password.errors else ""))
                }}
                {% for error in form.confirm_password.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                {{ form.avatar.label(class="form-label") }}
                {{ form.avatar(class="form-control" + (" is-invalid" if form.avatar.errors else "")) }}
                {% for error in form.avatar.errors %}
                <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
    </div>
</div>
{% endblock %}