{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mt-1">Регистрация</h2>
        <form method="POST" enctype="multipart/form-data" class="mb-4">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.middle_name.label(class="form-label") }}
                {{ form.middle_name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.phone_number.label(class="form-label") }}
                {{ form.phone_number(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.confirm_password.label(class="form-label") }}
                {{ form.confirm_password(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.avatar.label(class="form-label") }}
                {{ form.avatar(class="form-control") }}
            </div>
            <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
        </form>
    </div>
</div>
{% endblock %}